body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.search-bar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #3e8e41;
}

.data-container {
    padding: 20px;
}

.country-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.city-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.data {
    margin-top: 20px;
}

.data p {
    font-size: 18px;
    margin-bottom: 10px;
}